@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700);

/*  body {
  @include scrollbars(10px, red, blue);
} */

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?makwmm");
  src: url("../fonts/icomoon/icomoon.eot?makwmm#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?makwmm") format("truetype"), url("../fonts/icomoon/icomoon.woff?makwmm") format("woff"), url("../fonts/icomoon/icomoon.svg?makwmm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\f004";
}

.icon-user:before {
  content: "\f007";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-home:before {
  content: "\f015";
}

.icon-info-circle:before {
  content: "\f05a";
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-arrow-right:before {
  content: "\f061";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-comment:before {
  content: "\f075";
}

.icon-phone:before {
  content: "\f095";
}

.icon-chain:before {
  content: "\f0c1";
}

.icon-link:before {
  content: "\f0c1";
}

.icon-envelope:before {
  content: "\f0e0";
}

/* blocks */

.info__icon {
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: 90px;
  background-color: #2db8b7;
  color: #fff;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 10;
}

.info__icon::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.info__list {
  position: fixed;
  z-index: 10;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  top: 90px;
  right: 0;
  background-color: rgba(51, 51, 51, 0.8);
  height: 130px;
  width: 285px;
  padding: 20px;
  -webkit-transition: opacity .3s, visibility .3s;
  -o-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}

.info__list.active {
  opacity: 1;
  visibility: visible;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.info__item:last-child {
  margin: 0;
}

.info__link {
  color: #fff;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.info__link:hover {
  color: #2db8b7;
}

.info__link i {
  margin-right: 10px;
}

.header-mobile {
  display: none;
}

.header-mobile__logo {
  height: 60px;
}

/* aside-header */

.aside-header {
  position: fixed;
  height: 100%;
  z-index: 100;
  background-color: #242b2e;
  width: 17%;
  text-align: right;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 50px #000;
          box-shadow: 0 0 50px #000;
}

.aside-header.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.menu__list {
  margin-bottom: 20px;
}

.menu__link {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333B3F), to(#2E363A));
  background-image: -o-linear-gradient(top, #333B3F 0%, #2E363A 100%);
  background-image: linear-gradient(to bottom, #333B3F 0%, #2E363A 100%);
  border-bottom: 1px solid #202426;
  padding: 24px 24px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
}

.menu__link::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  background: #1ab5b3;
}

.menu__link span {
  position: relative;
  z-index: 2;
}

.menu__link.active::after {
  width: 100%;
}

.menu__burger {
  display: none;
}

.logo {
  height: 125px;
}

.logo img {
  height: 125px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.filter {
  padding: 0px 24px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.filter__title {
  color: #2db8b7;
  font-size: 19px;
  margin-bottom: 20px;
}

.filter__title i {
  margin-left: 7px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 28px;
  padding-bottom: 28px;
  border-bottom: 1px solid #202426;
}

.filter__link {
  text-align: right;
  color: #666b6d;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.filter__link:hover {
  color: #fff;
}

.filter__link:not(:last-child) {
  margin-bottom: 8px;
}

.media-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 24px 0px 10px;
  margin-bottom: 20px;
}

.media-links__item {
  margin: 0px 0px 10px 10px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.media-links__item-img {
  height: 25px;
  width: 25px;
}

.copiryght {
  padding: 0px 24px 10px 10px;
  color: #6b7072;
  font-size: 12px;
}

/* content */

.content {
  position: absolute;
  top: 0;
  left: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.content__item {
  position: relative;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 100%;
  overflow: hidden;
}

.content__item--active .content__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.content__img {
  position: relative;
}

.content__img img {
  height: 300px;
  max-width: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

.content__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  background-color: #2db8b7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #fff;
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  -o-transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
}

.content__overlay-title {
  font-size: 24px;
  text-transform: capitalize;
  max-width: 250px;
  margin-bottom: 5px;
}

.content__overlay-descr {
  width: 110px;
  border-bottom: 1px solid #fff;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 18px;
  padding-bottom: 16px;
}

.content__overlay-icon {
  font-size: 19px;
}

.content__overlay-icon a {
  display: inline-block;
  color: #fff;
  line-height: 60px;
  height: 60px;
  width: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: color .3s, background .3s;
  -o-transition: color .3s, background .3s;
  transition: color .3s, background .3s;
}

.content__overlay-icon a:hover {
  color: #2db8b7;
  background-color: #fff;
}

/* contact */

.contact {
  position: relative;
  left: 17%;
  width: 83%;
}

.contact__map {
  height: 100vh;
}

.contact__map img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.contact__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  margin: 25px;
  width: 45%;
  background-color: #fff;
}

.contact__title {
  font-size: 24px;
  margin-bottom: 25px;
}

.contact__descr {
  color: #a3a3a3;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.contact__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px 0px -10px;
}

.contact__form-column {
  padding: 0px 10px 0px 10px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-label {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form-label:not(:last-child) {
  margin-bottom: 10px;
}

.contact__form-label i {
  width: 30px;
  height: 28px;
  border: 1px solid #2db8b7;
  border-radius: 100%;
  color: #2db8b7;
  text-align: center;
  line-height: 28px;
  font-size: 13px;
}

.contact__form-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 8px;
}

.contact__form-input {
  width: 100%;
  height: 46px;
  border: 1px solid #eaeaea;
}

.contact__form-message {
  height: 100%;
  margin-bottom: 10px;
  border: 1px solid #eaeaea;
  resize: none;
}

.contact__form-btn {
  background-color: #2db8b7;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 23px;
  width: 100%;
  text-transform: uppercase !important;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.contact__form-input,
.contact__form-message {
  padding: 23px;
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
}

/* about */

.about-event__item {
  position: relative;
  padding: 0px 0px 0px 10px;
  font-size: 15px;
  line-height: 20px;
}

.about-event__item:not(:last-child) {
  margin-bottom: 18px;
}

.about-event__item:before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  height: 3px;
  width: 3px;
  background-color: #32393d;
  border-radius: 50%;
}

.about-skills__item:not(:last-child) {
  margin-bottom: 15px;
}

.about-skills__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.about-skills__header-job {
  text-transform: capitalize;
}

.about-skills__header-percent {
  color: #000;
}

.about-skills__meter {
  border: 1px solid #e2e2e2;
  height: 34px;
  position: relative;
}

.about-skills__meter span {
  position: absolute;
  background-color: #e2e2e2;
  height: 32px;
}

.about-partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: -10px;
}

.about-partners__column {
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.about-partners__item {
  padding: 0px 0px 90% 0px;
  overflow: hidden;
  position: relative;
}

.about-partners__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.about-page__img {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

.about-page__img img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.about-team__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 10px;
}

.about-team__item {
  padding: 0px 0px 90% 0px;
  overflow: hidden;
  position: relative;
}

.about-team__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about-team__item:hover .about-team__overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.about-team__overlay {
  position: absolute;
  background-color: #1ab5b3;
  color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.about-team__overlay-name {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px 0px 3px 0px;
}

.about-team__overlay-job {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
}

.about-testimonials__slider {
  cursor: pointer;
}

.about-testimonials__slider-item {
  padding: 0px 1px 0px 0px;
}

.slider-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1ab5b3;
  color: #fff;
}

.slider-item__header-img {
  height: 80px;
  width: 80px;
}

.slider-item__header-name {
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  padding: 0px 25px;
}

.slider-item__text {
  padding: 16px 30px;
  color: #a3a3a3;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  border: 1px solid #ececec;
}

/* single work and post */

.page {
  position: absolute;
  top: 0;
  right: 0;
  left: 17%;
  color: #848484;
  max-width: 100%;
}

.page__body {
  margin: 25px;
  background-color: #fff;
}

.page__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.page__inner::after {
  content: "";
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: #e5e5e5;
}

.page__column {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__comments {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.page__tags {
  margin-bottom: 30px;
}

.page__info {
  margin-bottom: 30px;
}

.page__about {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.page__partners {
  border-bottom: 1px solid #e5e5e5;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
}

.page__skills {
  margin-bottom: 30px;
}

.page__event {
  margin-bottom: 25px;
}

.page__post {
  margin-bottom: 30px;
}

.page-slider {
  max-width: 100%;
  height: 560px;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.page-slider__img img {
  width: 100%;
  height: 560px;
}

.page-slider .slick-dots {
  position: absolute;
  bottom: 30px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-slider .slick-dots button {
  border: 1px solid #e1e1e1;
  background-color: #b6b6b6;
  font-size: 0;
  height: 13px;
  width: 21px;
  padding: 0;
  outline: none;
  margin-left: 7px;
}

.page-slider .slick-dots li.slick-active button {
  border: 1px solid #6b6b6b;
  background-color: #2db8b7;
}

.page-tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-tags__item {
  margin: 0px 10px 10px 0px;
}

.page-tags__link {
  display: inline-block;
  padding: 15px;
  border: 1px solid #a3a3a3;
  border-radius: 11px;
  color: #a3a3a3;
  -webkit-transition: color .3s, border .3s;
  -o-transition: color .3s, border .3s;
  transition: color .3s, border .3s;
}

.page-archives__item {
  margin-bottom: 15px;
}

.page-archives__link {
  color: #000;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.page-gallery__img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: -5px;
}

.page-gallery__img-row img {
  height: 100%;
  width: 100%;
}

.page-gallery__img-row a {
  display: block;
  width: 100%;
  height: 125px;
  overflow: hidden;
  outline: none;
}

.page-gallery__img-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 5px;
}

.page-projects__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-projects__img-box {
  width: 33%;
  height: 182px;
}

.page-projects__img-box img {
  width: 100%;
  height: 182px;
}

.post-features__item {
  color: #848484;
  margin-bottom: 20px;
}

.post-features__item::before {
  content: "\f00c";
  font-family: 'icomoon';
  padding-right: 8px;
}

.page-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.page-info__item:last-child {
  margin: 0;
}

.page-info__item i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid #2db8b7;
  border-radius: 50%;
  color: #2db8b7;
  margin-right: 15px;
}

.page-comments__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.page-comments__box-img {
  height: 70px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  margin-right: 20px;
}

.page-comments__box-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* 			height: 70px;
			width: 70px; */
  /* 			@media (max-width: 1300px) {
				height: 30px;
				width: 30px;
			} */
}

.box-content {
  width: 100%;
}

.box-content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d1d1d1;
}

.box-content__header-name {
  color: #000;
}

.box-content__header-date {
  font-size: 14px;
}

.box-content__header-date span {
  padding: 0 7px;
}

.second--comments {
  margin-left: 100px;
}

.second--comments::before {
  content: "";
  position: absolute;
  left: -70px;
  padding-right: 10px;
  border-bottom: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  width: 40px;
  height: 40px;
}

.third--comments {
  margin-left: 200px;
}

.third--comments::before {
  content: "";
  position: absolute;
  left: -70px;
  padding-right: 10px;
  border-bottom: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  width: 40px;
  height: 40px;
}

.page-title {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #000;
}

.page-text {
  font-size: 18px;
  line-height: 30px;
}

.page-text p {
  padding-bottom: 20px;
}

.page-text p:last-child {
  padding: 0;
}

.page-text-link {
  color: #2db8b7;
}

.page-text-link:hover {
  text-decoration: underline;
}

/* blog */

.blog {
  position: relative;
  margin-left: 17%;
}

.blog__items {
  margin: -10px;
}

.blog__item {
  width: 20%;
  padding: 10px;
}

.blog__body {
  margin: 25px;
}

.blog__btn {
  display: block;
  margin: 20px auto;
  width: 185px;
  padding: 16px;
  background: #1ab5b3;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.aside-post {
  padding: 18px 25px;
  background: #242b2e;
  border-left: 15px solid #1ab5b3;
  -webkit-box-shadow: 0 0 8px #787878;
          box-shadow: 0 0 8px #787878;
}

.aside-post__title {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin: 0px 0px 10px 0px;
}

.aside-post__text {
  color: #9c9c9c;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.link-post {
  background: #1ab5b3;
  padding: 20px 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #787878;
          box-shadow: 0 0 8px #787878;
}

.link-post__text {
  font-size: 18px;
  line-height: 26px;
  margin: 0px 0px 5px 0px;
}

.link-post__text p {
  color: #fff;
}

.link-post__link {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  font-style: italic;
  border-bottom: 1px solid transparent;
  -webkit-transition: border .2s;
  -o-transition: border .2s;
  transition: border .2s;
}

.gallery-post {
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px #787878;
          box-shadow: 0 0 8px #787878;
}

.gallery-post__slider {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 180px;
}

.gallery-post__slider-item {
  height: 200px;
  cursor: pointer;
}

.gallery-post__slider-item img {
  width: 100%;
  height: 100%;
}

.slick-prev,
.slick-next {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  height: 43px;
  width: 43px;
  font-size: 15px;
  background-color: #2db8b7;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  color: #fff;
  outline: none;
  font-size: 0;
  font-family: 'icomoon' !important;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #48D3BC;
}

.slick-arrow.slick-prev {
  left: 0;
}

.slick-arrow.slick-prev:before {
  content: "\f060";
  font-size: 15px;
}

.slick-arrow.slick-next {
  right: 0;
}

.slick-arrow.slick-next:before {
  content: "\f061";
  font-size: 15px;
}

.img-post {
  position: relative;
  -webkit-box-shadow: 0 0 8px #787878;
          box-shadow: 0 0 8px #787878;
  overflow: hidden;
}

.img-post:hover .img-post__overlay {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.img-post__img {
  height: 100%;
}

.img-post__img img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.img-post__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2db8b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  -o-transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;
}

.img-post__overlay a {
  height: 60px;
  width: 60px;
  border: 1px solid #fff;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 40px;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: color .3s, background-color .3s;
  -o-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
}

.img-post__overlay a:hover {
  color: #2db8b7;
  background-color: #fff;
}

.quota-post {
  background-color: #242b2e;
  color: #fff;
  padding: 35px 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 8px #787878;
          box-shadow: 0 0 8px #787878;
}

.quota-post__text {
  font-style: italic;
  font-size: 21px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}

.quota-post__quote::after {
  content: "";
  display: inline-block;
  width: 23px;
  height: 17px;
  margin: 0px 0px 10px 0px;
  background: url("../img/blog/quote.png") 0 0 no-repeat;
}

.quota-post__author {
  color: #2db8b7;
  font-size: 18px;
}

.standart-post {
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px #787878;
          box-shadow: 0 0 8px #787878;
}

.standart-post__img {
  height: 180px;
}

.standart-post__img img {
  width: 100%;
  height: 100%;
}

.standart-post__video iframe {
  width: 100%;
  height: 180px;
}

.blog-button {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  bottom: -100px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  color: #fff;
  padding: 25px;
  background-color: #2db8b7;
  text-transform: uppercase;
  font-size: 20px;
  z-index: 2;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.blog-button--hide {
  z-index: 1;
}

.blog-button:hover {
  background-color: #48D3BC;
}

#loading-div {
  display: none;
}

.post-content__body {
  padding: 15px;
  color: #9a9a9a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85px;
  border-bottom: 1px solid #e3e3e3;
}

.post-content__title {
  font-size: 18px;
  color: #000;
  line-height: 18px;
  width: 100%;
  height: calc(18px * 3);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.post-content__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 10px 13px 10px 13px;
  color: #9a9a9a;
  margin: 0px -7px 0px -7px;
}

.post-content__footer i {
  margin-right: 10px;
}

.post-content__footer-comments,
.post-content__footer-date {
  padding: 0px 7px 0px 7px;
}

/* ==========================================================================
	General Styles
========================================================================== */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Roboto";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

::-webkit-input-placeholder {
  color: #a3a3a3;
  text-transform: capitalize;
}

::-moz-placeholder {
  color: #a3a3a3;
  text-transform: capitalize;
}

:-ms-input-placeholder {
  color: #a3a3a3;
  text-transform: capitalize;
}

::-ms-input-placeholder {
  color: #a3a3a3;
  text-transform: capitalize;
}

::placeholder {
  color: #a3a3a3;
  text-transform: capitalize;
}

body {
  background-color: #b4b7b8;
  min-width: 320px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #1ab5b3;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body {
  scrollbar-face-color: #1ab5b3;
  scrollbar-track-color: #fff;
}

body.lock {
  overflow: hidden;
}

.preloader {
  position: fixed;
  overflow: visible;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
}

.preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
}

.preloader.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.preloader.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 1s, opacity 1s linear;
  -o-transition: visibility 0s 1s, opacity 1s linear;
  transition: visibility 0s 1s, opacity 1s linear;
}

p {
  margin: 0;
  color: #a3a3a3;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.btn {
  display: inline-block;
  text-transform: capitalize;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.mixitup-control-active {
  color: #fff;
}

@media (min-width: 850px) {
  .menu__link:hover::after {
    width: 100%;
  }

  .media-links__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .content__item:hover .content__overlay {
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .contact__form-btn:hover {
    background-color: #48D3BC;
  }

  .contact__form-input:focus,
  .contact__form-message:focus {
    border: 1px solid #2db8b7;
  }

  .contact__form-input .contact__form-label,
  .contact__form-message .contact__form-label {
    border: 1px solid #2db8b7;
  }

  .page-tags__link:hover {
    border: 1px solid #1ab5b3;
    color: #1ab5b3;
  }

  .page-archives__link:hover {
    color: #2db8b7;
  }

  .blog__btn:hover {
    background-color: #48D3BC;
  }

  .link-post__link:hover {
    border-bottom: 1px solid #fff;
  }

  .post-content__title:hover {
    color: #2db8b7;
  }
}

@media (max-width: 1366px) {
  .info__icon {
    height: 60px;
    width: 60px;
    font-size: 20px;
  }

  .info__icon::after {
    height: 40px;
    width: 40px;
  }

  .info__list {
    top: 60px;
    font-size: 14px;
    width: 250px;
    height: 110px;
  }

  .menu__list {
    margin-bottom: 10px;
  }

  .menu__link {
    padding: 15px 20px;
    font-size: 16px;
  }

  .logo {
    height: 80px;
  }

  .logo img {
    height: 80px;
  }

  .filter {
    padding: 0px 20px 0px 0px;
  }

  .filter__title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .filter__list {
    margin-bottom: 13px;
    padding-bottom: 13px;
  }

  .filter__link {
    font-size: 14px;
    line-height: 14px;
  }

  .media-links__list {
    padding: 0px 20px 0px 10px;
    margin-bottom: 10px;
  }

  .media-links__item {
    margin: 0px 0px 5px 5px;
  }

  .copiryght {
    font-size: 11px;
  }

  .content__img img {
    height: 230px;
  }

  .content__overlay-title {
    font-size: 20px;
  }

  .content__overlay-icon a {
    height: 45px;
    width: 45px;
    line-height: 45px;
  }

  .contact__content {
    padding: 20px;
    width: 83%;
  }

  .contact__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .contact__descr {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .contact__form-btn {
    padding: 15px;
  }

  .contact__form-input,
  .contact__form-message {
    padding: 15px;
  }

  .about-event__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .about-skills__header {
    margin-bottom: 5px;
  }

  .about-skills__meter {
    height: 25px;
  }

  .about-skills__meter span {
    height: 23px;
  }

  .page__tags {
    margin-bottom: 20px;
  }

  .page__info {
    margin-bottom: 20px;
  }

  .page__about {
    margin-bottom: 20px;
    line-height: 25px;
  }

  .page-slider {
    height: 360px;
  }

  .page-slider__img img {
    height: 360px;
  }

  .page-tags__link {
    padding: 7px;
    font-size: 13px;
  }

  .page-gallery__img-row a {
    height: 90px;
  }

  .post-features__item {
    margin-bottom: 10px;
  }

  .page-info__item {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .page-info__item i {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  .page-text {
    font-size: 16px;
    line-height: 25px;
  }

  .blog__item {
    width: 25%;
  }

  .slick-prev,
  .slick-next {
    height: 35px;
    width: 35px;
  }

  .img-post__overlay a {
    height: 50px;
    width: 50px;
    font-size: 30px;
    line-height: 50px;
  }

  .blog-button {
    padding: 15px;
    font-size: 18px;
  }

  .post-content__body {
    padding: 10px;
  }

  .post-content__title {
    font-size: 16px;
  }

  .post-content__footer {
    font-size: 13px;
  }

  .post-content__footer i {
    margin-right: 5px;
  }
}

@media (max-width: 1300px) {
  .page-comments__box-img {
    height: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }

  .second--comments {
    margin-left: 40px;
  }

  .second--comments::before {
    display: none;
  }

  .third--comments {
    margin-left: 80px;
  }

  .third--comments::before {
    display: none;
  }
}

@media (max-width: 1200px) {
  .about-team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1180px) {
  .contact__content {
    position: relative;
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 1170px) {
  .second--comments {
    margin-left: 20px;
  }

  .third--comments {
    margin-left: 60px;
  }

  .leave-comment__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .leave-comment__form-message {
    margin-top: 10px;
    height: 150px;
  }
}

@media (max-width: 1150px) {
  .blog__item {
    width: 33.333%;
  }
}

@media (max-width: 1100px) {
  .content__item {
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
  }

  .about-partners__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .about-partners__item {
    padding: 0px 0px 80% 0px;
  }
}

@media (max-width: 1000px) {
  .aside-header {
    width: 22%;
  }

  .content {
    left: 22%;
  }

  .contact {
    left: 22%;
  }

  .page {
    left: 22%;
  }

  .blog {
    margin-left: 22%;
  }
}

@media (max-width: 950px) {
  .about-partners__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }

  .about-partners__item {
    padding: 0px 0px 100% 0px;
  }

  .about-team {
    margin: 0px 0px 20px 0px;
  }

  .about-team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .page__body {
    margin: 15px;
  }

  .page__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .page__inner::after {
    display: none;
  }

  .page__partners {
    margin-bottom: 20px;
  }

  .page-slider {
    max-width: 100%;
  }

  .page-gallery__img-row a {
    height: 115px;
  }

  .page-projects {
    margin-bottom: 25px;
  }

  .page-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .blog__body {
    margin: 15px;
  }
}

@media (max-width: 900px) {
  .leave-comment__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
}

@media (max-width: 850px) {
  .info__icon {
    top: 60px;
  }

  .header-mobile {
    position: fixed;
    top: 0;
    display: block;
    z-index: 15;
    background-color: #242b2e;
    height: 60px;
    width: 100%;
  }

  .header-mobile__logo img {
    height: 60px;
    width: 25%;
  }

  .aside-header {
    overflow: auto;
    position: fixed;
    padding: 60px 0px 0px 0px;
    z-index: 12;
    background-color: #242b2e;
    width: 25%;
    height: 100vh;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
  }

  .menu__burger {
    display: block;
    position: fixed;
    width: 30px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    top: 20px;
  }

  .menu__burger::after,
  .menu__burger::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__burger::before {
    top: 0;
  }

  .menu__burger::after {
    bottom: 0;
  }

  .menu__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .menu__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .logo {
    display: none;
  }

  .content {
    left: 0;
    top: 60px;
  }

  .content__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .content__overlay {
    opacity: 1;
    display: none;
    visibility: hidden;
  }

  .contact {
    left: 0;
    top: 60px;
    width: 100%;
  }

  .page {
    left: 0;
    top: 60px;
  }

  .blog {
    margin-left: 0%;
    top: 60px;
  }

  .img-post__overlay {
    opacity: 1;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    background-color: transparent;
  }
}

@media screen and (max-width: 850px) {
  .info__list {
    top: 120px;
    padding: 10px;
    height: 100px;
    width: 200px;
  }

  .logo img {
    height: 60px;
  }
}

@media (max-width: 750px) {
  .about-team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

@media (max-width: 700px) {
  .blog__item {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .header-mobile__logo img {
    width: 35%;
  }

  .aside-header {
    width: 35%;
  }
}

@media (max-width: 600px) {
  .page__inner {
    padding: 20px;
  }
}

@media (max-width: 550px) {
  .about-team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 500px) {
  .aside-header {
    width: 100%;
  }

  .content__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .contact__form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__form-label {
    margin-bottom: 10px;
  }

  .contact__form-message {
    height: 150px;
  }

  .about-partners__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .about-partners__item {
    padding: 0px 0px 80% 0px;
  }

  .about-page__img img {
    -o-object-position: left;
       object-position: left;
  }
}

@media (max-width: 480px) {
  .media-links__item {
    margin: 0px 0px 10px 10px;
  }

  .media-links__item-img {
    height: 35px;
    width: 35px;
  }

  .slider-item__header-name {
    padding: 0 15px;
  }

  .slider-item__text {
    padding: 16px 20px;
  }

  .page__body {
    margin: 10px;
  }

  .page-gallery__img-row a {
    height: 78px;
  }

  .page-comments__box-img {
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .box-content__header-name {
    font-size: 14px;
  }

  .box-content__header-date {
    font-size: 12px;
  }

  .box-content__post-text {
    font-size: 14px;
  }

  .blog__item {
    width: 100%;
  }

  .blog__body {
    margin: 15px;
  }

  .gallery-post__slider {
    height: 230px;
  }

  .gallery-post__slider-item {
    height: 230px;
  }

  .standart-post__img {
    height: 230px;
  }

  .blog-button {
    padding: 10px;
    font-size: 16px;
    bottom: -70px;
  }
}

@media (max-width: 450px) {
  .page-slider {
    height: 300px;
  }

  .page-slider__img img {
    height: 300px;
  }

  .page-projects__img-box {
    width: 100%;
    margin-bottom: 5px;
  }

  .page-comments__box {
    margin-bottom: 20px;
  }
}

@media (max-width: 380px) {
  .about-team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .about-team__item {
    padding: 0px 0px 70% 0px;
  }

  .page-comments__box-img {
    margin-right: 10px;
  }

  .second--comments {
    margin-left: 15px;
  }

  .third--comments {
    margin-left: 30px;
  }
}

.webp .quota-post__quote::after{ background: url(../img/blog/quote.webp) 0 0 no-repeat; }