@import "../../partials/vars";

.content {
	position: absolute;
	top: 0;
	left: 17%;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;

	@media screen and (max-width: 1366px) {
		left: 15%;
	}

	@media screen and (max-width: 850px) {
		left: 0;
		top: 60px;
	}

	&-item {
		position: relative;
		flex-basis: 25%;
		height: 300px;

		@media (max-width: 1366px) {
			height: 230px;
		}

		@media screen and (max-width: 850px) {
			flex-basis: 50%;
		}

		@media screen and (max-width: 400px) {
			flex-basis: 100%;
		}

	}

	&__img {
		position: relative;

		img {
			height: 300px;
			max-width: 100%;
			width: 100%;
			object-position: center;
			object-fit: cover;

			@media (max-width: 1366px) {
				height: 230px;
			}

		}

	}

	&__overlay {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		background-color: $green;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100%;
		padding: 15px;
		text-align: center;
		color: $white;
		transition: opacity .3s;
	}

	&__overlay-title {
		font-size: 24px;
		text-transform: capitalize;
		max-width: 250px;
		margin-bottom: 5px;

		@media (max-width: 1366px) {
			font-size: 20px;
		}

	}

	&__overlay-descr {
		width: 110px;
		border-bottom: 1px solid $white;
		font-size: 12px;
		margin-bottom: 18px;
		padding-bottom: 16px;
	}

	&__overlay-arrow {
		font-size: 19px;
		
		a {
			display: inline-block;
			color: $white;
			line-height: 60px;
			height: 60px;
			width: 60px;
			border: 1px solid $white;
			border-radius: 50%;
			transition: color .3s, background .3s;

			@media (max-width: 1366px) {
				height: 45px;
				width: 45px;
				line-height: 45px;
			}

			&:hover {
				color: $green;
				background-color: $white;
			}

		}

	}
	
}
.content-item:hover .content__overlay{
	opacity: 1;
}