.menu__burger {
	display: none;
}

.menu {

	&__list {
		margin-bottom: 20px;

		@media (max-width: 1366px) {
			margin-bottom: 10px;
		}
	}

	&__link {
		display: block;
		text-transform: uppercase;
		background-color: #2f373b;
		border-bottom: 1px solid #202426;
		padding: 24px 24px;
		color: $white;
		font-size: 18px;
		font-weight: $light;
		transition: background-color .3s;

		@media (max-width: 1366px) {
			padding: 15px 20px;
			font-size: 16px;
		}

		&:hover {
			background-color: $green;
		}
	}
}
.menu__link.active {
	background-color: $green;
}

@media screen and (max-width: 850px) {
	.menu__burger {
		display: block;
		position: fixed;
		width: 30px;
		height: 20px;
		right: 20px;
		cursor: pointer;
		z-index: 1000;
		top: 20px;
	 }
	 
	 .menu__burger:after,
	 .menu__burger:before {
		content: "";
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	 }
	 .menu__burger span {
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
	 }
	 .menu__burger:before {
		top: 0;
	 }
	 .menu__burger:after {
		bottom: 0;
	 }
	 
	 .menu__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	 }
	 .menu__burger.active span{
		transform: scale(0);
	 }
	 .menu__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	 }
	 
	 .menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: $header-bg;
	 	transform: translateY(-100%);
		transition: transform 0.6s ease 0s;
	 } 
	 
	 .menu.active {
	 	transform: translateY(0%);
	 }
	 .menu__item {
		font-size: 30px;
	 }
	 .menu__item + .menu__item{
		margin: 15px 0 0 0;
	 }
	 
	 .menu__list {
		display: block;
	 }
	 
}