@import "../vars";
@import "general-blog";

.link-post {
	background-color: $green;
	flex-basis: 20%;
	color: $white;
	text-align: center;
	padding: 38px 28px;
	// .link-post__title

	&__title {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	// .link-post__link

	&__link {
		color: $white;
		font-weight: $bold;
		font-style: italic;
		text-decoration: underline;
	}
}
