@import "../vars";
@import "general-blog";

.quota-post {
	background-color: #242b2e;
	color: $white;
	padding: 35px 25px;
	text-align: center;
	// .quota-post__text

	&__text {
		font-style: italic;
		font-size: 21px;
		line-height: 26px;
		font-weight: $medium;
		margin-bottom: 20px;
	}

	// .quota-post__author

	&__author {
		color: $green;
		font-size: 18px;
	}
}
