@import "../vars";
@import "general-blog";

.video-post {
	background-color: $white;
	// .video-post__video

	&__video {
		width: 100%;
		height: 180px;
		
		video {
			width: 100%;
			height: 100%;
		}
	}
}
