@import "../vars";

.video-post {
	background-color: $white;
	position: relative;
	// .video-post__video

	&__video {
		width: 100%;
		height: 180px;

		@media (max-width: 480px) {
			height: 230px;
		}
		
		video {
			width: 100%;
			height: 100%;
		}

	}
}


