@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700);
// Imports
@import "partials/libs";
@import "partials/vars";
@import "partials/fonts";

/* home-content */
@import "partials/home/content";

/* info */
@import "partials/info";


@import "partials/services";

/* aside-header */
@import "partials/aside-header/copiryght";
@import "partials/aside-header/filter";
@import "partials/aside-header/header";
@import "partials/aside-header/social-links";

/* contact */
@import "partials/contact/contact";

/* about */
@import "partials/about/about-general";
@import "partials/about/about-services";
@import "partials/about/about-skills";
@import "partials/about/about-staff";
@import "partials/about/about-testimonials";
@import "partials/about/about-info";

/* single work and post */
@import "partials/single/single-general";
@import "partials/single/single-post";
@import "partials/single/single-tags";
@import "partials/single/single-archives";
@import "partials/single/single-gallery";
@import "partials/single/single-projects";
@import "partials/single/single-features";
@import "partials/single/single-info";
@import "partials/single/single-comments";

/* blog */
@import "partials/blog/gallery-post";
@import "partials/blog/general-blog";
@import "partials/blog/link-post";
@import "partials/blog/img-post";
@import "partials/blog/quota-post";
@import "partials/blog/video-post";
@import "partials/blog/standart-post";
@import "partials/blog/aside-post";
@import "partials/blog/button-blog";

/* ==========================================================================
	General Styles
========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-weight: $normal; 
  background-color: #b4b7b8;
  /* doesn't see the scroll */
  min-width: 320px;
  overflow-x: hidden;
}
	/* hidden scroll */
/* ::-webkit-scrollbar {display:none;} */

ul, ol {
  margin: 0;
  padding: 0; 
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  color: #a3a3a3;
}

img {
	object-fit: cover;
	object-position: center;
}

.btn {
	display: inline-block;
	text-transform: capitalize;
	transition: all .3s;
}

@import "partials/media";