@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700);
// Imports
@import "partials/libs";
@import "partials/vars";
@import "partials/fonts";

/* blocks */
@import "blocks/info";
@import "blocks/header-mobile";

/* aside-header */
@import "blocks/aside-header/aside-header";
@import "blocks/aside-header/menu";
@import "blocks/aside-header/logo";
@import "blocks/aside-header/filter";
@import "blocks/aside-header/social-links";
@import "blocks/aside-header/copiryght";

/* content */
@import "blocks/content/content";

/* contact */
@import "blocks/contact/contact";

/* about */
@import "blocks/about/about-event";
@import "blocks/about/about-skills";
@import "blocks/about/about-partners";
@import "blocks/about/about-info";

/* single work and post */
@import "blocks/page/page";
@import "blocks/page/page-post";
@import "blocks/page/page-tags";
@import "blocks/page/page-archives";
@import "blocks/page/page-gallery";
@import "blocks/page/page-projects";
@import "blocks/page/page-features";
@import "blocks/page/page-info";
@import "blocks/page/page-comments";
@import "blocks/page/page__title";
@import "blocks/page/page__text";

/* blog */
@import "blocks/blog/blog";
@import "blocks/blog/gallery-post";
@import "blocks/blog/img-post";
@import "blocks/blog/quota-post";
@import "blocks/blog/standart-post";
@import "blocks/blog/button-blog";
@import "blocks/blog/post-content";

/* ==========================================================================
	General Styles
========================================================================== */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html {scroll-behavior: smooth;}
html,body{font-family: $font-family;height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
::placeholder {color: #a3a3a3;text-transform: capitalize;}
body {
  background-color: #b4b7b8;
  /* doesn't see the scroll */
  min-width: 320px;
  overflow-x: hidden;

  &.lock {
	overflow: hidden;
	}
}

p {
  margin: 0;
  color: #a3a3a3;
}

img {
	object-fit: cover;
	object-position: center;
}

.btn {
	display: inline-block;
	text-transform: capitalize;
	transition: all .3s;
}

.mixitup-control-active {
	color: $white;
}
