.blog {
	position: relative;
	margin-left: 17%;

	@media (max-width: 1000px) {
		margin-left: 22%;
	}

	@media (max-width: 850px) {
		margin-left: 0%;
		padding: 60px 0px 0px 0px;
	}

	&__items {
		margin: -10px;
	}

	&__item {
		width: 20%;
		padding: 10px;

		@media (max-width: 1500px) {
			width: 25%;
		}
	
		@media (max-width: 1150px) {
			width: 33.333%;
		}
	
		@media (max-width: 700px) {
			width: 50%;
		}
	
		@media (max-width: 480px) {
			width: 100%;
		}
	}

	&__body {
		margin: 25px;

		@media (max-width: 950px) {
			margin: 15px;
		}

		@media (max-width: 480px) {
			margin: 15px;
		}
	}

	&__btn {
		display: block;
		margin: 20px auto;
		width: 185px;
		padding: 16px;
		background: #1ab5b3;
		color: #fff;
		font-size: 20px;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		transition: background-color .3s;

		@media (min-width: 850px) {			
			&:hover {
				background-color: #48D3BC;
			}
		}
	}
}