.blog {
	margin: 25px;
	position: absolute;
	left: 17%;

	@media (max-width: 950px) {
		margin: 15px;
	}

	@media (max-width: 850px) {
		left: 0;
		top: 60px;
	}

	@media (max-width: 480px) {
		margin: 15px;
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(5, minmax(200px, auto));
		grid-gap: 15px;
	
		@media (max-width: 1366px) {
			grid-template-columns: repeat(4, minmax(200px, auto));
		}
	
		@media (max-width: 1150px) {
			grid-template-columns: repeat(3, minmax(200px, auto));
		}
	
		@media (max-width: 700px) {
			grid-template-columns: repeat(2, minmax(200px, auto));
		}
	
		@media (max-width: 480px) {
			grid-template-columns: repeat(1, minmax(200px, auto));
		}

	}
}