.quota-post {
	background-color: #242b2e;
	color: $white;
	padding: 35px 25px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 0 8px #787878;
	// .quota-post__text

	&__text {
		font-style: italic;
		font-size: 21px;
		line-height: 26px;
		font-weight: $medium;
		margin-bottom: 20px;
	}

	&__quote::after {
		content: "";
		display: inline-block;
		width: 23px;
		height: 17px;
		margin: 0px 0px 10px 0px;
		background: url("../img/blog/quote.png") 0 0 no-repeat;
	}
	// .quota-post__author

	&__author {
		color: $green;
		font-size: 18px;
	}
}
