@import "../vars";

.single-comments {
	margin-bottom: 30px;

	border-bottom: 1px solid #d1d1d1;
	// .single-comments__box

	&__box {
		display: flex;
		margin-bottom: 30px;
		position: relative;
	}

	// .single-comments__box-img

	&__box-img {
		height: 70px;
		width: 70px;
		margin-right: 20px;

		img {
			height: 70px;
			width: 70px;
		}
	}

	// .single-comments__box-content

	&__box-content {

	}
}
.box-content {

	// .box-content__header

	&__header {
		display: flex;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #d1d1d1;
	}

	// .box-content__header-name

	&__header-name {
		color: #000;
	}

	// .box-content__header-date

	&__header-date {
		font-size: 14px;

		span {
			padding: 0 7px;
		}
	}

	// .box-content__post

	&__post {
	}

	// .box-content__post-text

	&__post-text {
	}
}

.second--comments {
	margin-left: 100px;
	

	&::before {
		content: "";
		position: absolute;
		left: -70px;
		padding-right: 10px;
		border-bottom: 1px solid #d1d1d1;
		border-left: 1px solid #d1d1d1;
		width: 40px;
		height: 40px;
	}
}
.third--comments {
	margin-left: 200px;

	&::before {
		content: "";
		position: absolute;
		left: -70px;
		padding-right: 10px;
		border-bottom: 1px solid #d1d1d1;
		border-left: 1px solid #d1d1d1;
		width: 40px;
		height: 40px;
	}
}