@import "../vars";

.single-page,
.single-work {
	background-color: $white;
	position: absolute;
	top: 0;
	left: 17%;
	margin: 25px;
	padding: 30px;
	color: #848484;

	@media (max-width: 1366px) {
		left: 15%;
	}

	@media screen and (max-width: 850px) {
		left: 0;
		top: 60px;
	}

	@media screen and (max-width: 600px) {
		margin: 15px;
		padding: 20px;
	}

}

.single-page__inner,
.single-work__inner {
	display: flex;
	position: relative;
	justify-content: space-between;

	@media (max-width: 900px) {
		flex-direction: column;
	}

	&::after {
		content: "";
		position: absolute;
		right: 50%;
		top: 0;
		bottom: 0;	
		width: 1px;
		height: 100%;
		background-color: #e5e5e5;

		@media (max-width: 900px) {
			display: none;
		}

	}
}
.single-page__column,
.single-work__column {
	flex-basis: 48%;
	min-width: 0;
	display: flex;
	flex-direction: column;
}

.single__title {
	font-size: 24px;
	text-transform: capitalize;
	margin-bottom: 20px;
	color: #000;

	@media (max-width: 1366px) {
		font-size: 20px;
		margin-bottom: 15px;
	}
}

.single__text {
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 30px;
	border-bottom: 1px solid #e5e5e5;

	@media (max-width: 1366px) {
		font-size: 16px;
		margin-bottom: 20px;
		line-height: 25px;
	}

	p {
		padding-bottom: 20px;

		@media (max-width: 1366px) {
			padding-bottom: 20px;
		}
	}

}