@import "../vars";

.post-gallery {
	margin-bottom: 20px;
	// .post-gallery__img

	&__img {
		display: flex;
		flex-wrap: wrap;

		img {
			height: 100%;
			width: 100%;
		}

		a {
			display: block;
			width: 78px;
			overflow: hidden;
			outline: none;
			height: 78px;
			margin-right: 12px;
			margin-bottom: 12px;
		}
	}

}
