.about-staff {

	&__img {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__box {
		width: 150px;
		height: 150px;
		position: relative;
		margin-bottom: 20px;

		img {
			width: 100%;
			height: 150px;
			object-fit: cover;
			object-position: center;
		}
	}

}