@import "vars";

.btn {
    display: inline-block;
    text-transform: capitalize;
    transition: all .3s;
}

.title {
	font-size: 24px;
	text-transform: capitalize;
	margin-bottom: 20px;
	color: #000;

	@media (max-width: 1366px) {
		font-size: 20px;
		margin-bottom: 15px;
	}
}

.text p{
	margin-bottom: 45px;
	font-size: 18px;
	

	@media (max-width: 1366px) {
		font-size: 16px;
		margin-bottom: 19px;
	}
}