.logo {
	height: 125px;

	@media (max-width: 1366px) {
		height: 80px;
	}

	@media (max-width: 850px) {
		display: none;
	}

	img {
		height: 125px;
		width: 100%;
		object-fit: cover;
		object-position: center;

		@media (max-width: 1366px) {
			height: 80px;
		}

		@media screen and (max-width: 850px) {
			height: 60px;
		}

	}

}