.media-links {

	&__list {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		padding: 0px 24px 0px 10px;
		margin-bottom: 20px;
	
		@media (max-width: 1366px) {
			padding: 0px 20px 0px 10px;
			margin-bottom: 10px;
		}

	}

	&__item {
		margin: 0px 0px 10px 10px;
		transition: transform .3s;

		@media (min-width: 850px) {
			&:hover {
				transform: scale(1.2);
			}
		}

		@media (max-width: 1366px) {
			margin: 0px 0px 5px 5px;
		}

		@media (max-width: 480px) {
			margin: 0px 0px 10px 10px;
		}
	}

	&__item-img {
		height: 25px;
		width: 25px;

		@media (max-width: 480px) {
			height: 35px;
			width: 35px;
		}
	}
}