.page__text {
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 30px;
	border-bottom: 1px solid #e5e5e5;

	@media (max-width: 1366px) {
		font-size: 16px;
		margin-bottom: 20px;
		line-height: 25px;
	}

	p {
		padding-bottom: 20px;

		@media (max-width: 1366px) {
			padding-bottom: 20px;
		}
	}

	&-link {
		color: $green;

		&:hover {
			text-decoration: underline;
		}
	}

}