.page-comments {

	// .single-comments__box

	&__box {
		display: flex;
		margin-bottom: 30px;
		position: relative;

		@media (max-width: 450px) {
			margin-bottom: 20px;
		}
	}

	// .single-comments__box-img

	&__box-img {
		height: 70px;
		flex: 0 0 70px;
		margin-right: 20px;

		@media (max-width: 1300px) {
			height: 50px;
			flex: 0 0 50px;
		}

		@media (max-width: 480px) {
			height: 40px;
			flex: 0 0 40px;
		}

		@media (max-width: 380px) {
			margin-right: 10px;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
/* 			height: 70px;
			width: 70px; */

/* 			@media (max-width: 1300px) {
				height: 30px;
				width: 30px;
			} */


		}
	}
}
.box-content {
	width: 100%;

	// .box-content__header

	&__header {
		display: flex;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #d1d1d1;
	}

	// .box-content__header-name

	&__header-name {
		color: #000;

		@media (max-width: 480px) {
			font-size: 14px;
		}
	}

	// .box-content__header-date

	&__header-date {
		font-size: 14px;

		@media (max-width: 480px) {
			font-size: 12px;
		}

		span {
			padding: 0 7px;
		}
	}

	&__post-text {

		@media (max-width: 480px) {
			font-size: 14px;
		}
	}

}

.second--comments {
	margin-left: 100px;

	@media (max-width: 1300px) {
		margin-left: 40px;
	}

	@media (max-width: 1170px) {
		margin-left: 20px;
	}

	@media (max-width: 380px) {
		margin-left: 15px;
	}
	
	&::before {
		content: "";
		position: absolute;
		left: -70px;
		padding-right: 10px;
		border-bottom: 1px solid #d1d1d1;
		border-left: 1px solid #d1d1d1;
		width: 40px;
		height: 40px;

		@media (max-width: 1300px) {
			display: none;
		}
	}
}
.third--comments {
	margin-left: 200px;

	@media (max-width: 1300px) {
		margin-left: 80px;
	}

	@media (max-width: 1170px) {
		margin-left: 60px;
	}

	@media (max-width: 380px) {
		margin-left: 30px;
	}

	&::before {
		content: "";
		position: absolute;
		left: -70px;
		padding-right: 10px;
		border-bottom: 1px solid #d1d1d1;
		border-left: 1px solid #d1d1d1;
		width: 40px;
		height: 40px;

		@media (max-width: 1300px) {
			display: none;
		}
	}
}

.leave-comment {

	&__inner {

		@media (max-width: 1170px) {
			flex-direction: column;	
		}

		@media (max-width: 900px) {
			flex-direction: column;	
			margin-bottom: 30px;
		}
	}


	&__form-message {
		

		@media (max-width: 1170px) {
			margin-top: 10px;
			height: 150px;
		}
	}
}