.page-tags {

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin: 0px 10px 10px 0px;
	}

	&__link {
		display: inline-block;
		padding: 15px;
		border: 1px solid #a3a3a3;
		border-radius: 11px;
		color: #a3a3a3;
		transition: color .3s, border .3s;

		@media (max-width: 1366px) {
			padding: 7px;
			font-size: 13px;
		}

		@media (min-width: 850px) {			
			&:hover {
				border: 1px solid #1ab5b3;
				color: #1ab5b3;
			}
		}

	}
}