.page-slider {
	max-width: 100%;
	height: 560px;
	position: relative;
	margin-bottom: 25px;
	overflow: hidden;

	@media (max-width: 1366px) {
		height: 360px
	}

	@media (max-width: 950px) {
		max-width: 100%;
	}

	@media (max-width: 450px) {
		height: 300px;
	}

	&__img img {
		width: 100%;
		height: 560px;

		@media (max-width: 1366px) {
			height: 360px
		}

		@media (max-width: 450px) {
			height: 300px;
		}
	}

	.slick-dots{
		position: absolute;
		bottom:  30px;
		right: 10px;
		display: flex;
	}

	.slick-dots button{
		border: 1px solid #e1e1e1;
		background-color: #b6b6b6;
		font-size: 0;
		height: 13px;
		width: 21px;
		padding: 0;
		outline: none;
		margin-left: 7px;
	}

	.slick-dots li.slick-active button {
		border: 1px solid #6b6b6b;
		background-color: $green;
	}

}
